<div class="panel" ng-init="getAvailableTeams()">
  <div class="panel-heading">
    <h3 class="panel-title">{{ 'TEAMS' | translate }}</h3>
  </div>
  <div>
    <button class="btn btn-warning" type="button" ng-click="goBackToEdit()">{{ 'BACK' | translate }}</button>
  </div>
  <div class="panel-body">
    <div class="bootstrap-table">
      <div class="fixed-table-container" style="padding-bottom: 0px;">
        <div class="fixed-table-body">
          <table class="demo-add-niftycheck table table-hover" data-toggle="table"
                 data-url="data/bs-table.json" data-toolbar="#demo-delete-row"
                 data-search="true" data-show-refresh="true" data-show-toggle="true"
                 data-show-columns="true" data-sort-name="id" data-page-list="[5, 10, 20]"
                 data-page-size="5" data-pagination="true" data-show-pagination-switch="true">
            <thead style="display: table-header-group;">
            <tr>
              <th style="">
                <div class="th-inner sortable">
                  Logo
                </div>
                <div class="fht-cell">
                </div>
              </th>
              <th style="">
                <div class="th-inner sortable">
                  {{ 'NAME' | translate }}
                </div>
                <div class="fht-cell">
                </div>
              </th>

              <th style="">
                <div class="th-inner sortable">
                  {{ 'ACTIONS' | translate }}
                </div>
                <div class="fht-cell">

                </div>
              </th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="team in teams">
              <td>
                <img ng-src={{team.logo}}  width="50" height="50">
              </td>
              <td>{{team.name}}</td>
              <td>
                <button type="button" class="btn btn-primary" ng-click="addTeam(team.id)">{{ 'ADD' | translate }}</button>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="clearfix">
    </div>
  </div>
</div>

