<div class="panel">
  <form id="demo-bvd-notempty" action="forms-validation.html" class="form-horizontal bv-form" novalidate="novalidate"><button type="submit" class="bv-hidden-submit" style="display: none; width: 0px; height: 0px;"></button>
    <div class="panel-body">

      <hr>
      <h4 class="mar-btm text-thin">Edit Team</h4>
      <hr>

      <!--REGULAR EXPRESSION BASED VALIDATORS-->
      <!--===================================================-->
      <fieldset>
        <div class="form-group has-feedback">
          <label class="col-lg-3 control-label">Name</label>
          <div class="col-lg-7">
            <input type="email" class="form-control" name="teamsName" placeholder="Team name" data-bv-field="email" style="height:5%">
            <i class="form-control-feedback" data-bv-icon-for="teamsName" style="display: none;"></i>
            <small class="help-block" data-bv-validator="notEmpty" data-bv-for="email" data-bv-result="NOT_VALIDATED" style="display: none;">The email address is required and can't be empty</small><small class="help-block" data-bv-validator="emailAddress" data-bv-for="email" data-bv-result="NOT_VALIDATED" style="display: none;">The input is not a valid email address</small></div>
        </div>
        <div class="form-group has-feedback">
          <label class="col-lg-3 control-label">Shield</label>
          <div class="col-lg-7">
            <input type="text" class="form-control" name="teamsShield" placeholder="http://shield-url.png" data-bv-field="website" style="height:5%">
            <i class="form-control-feedback" data-bv-icon-for="teamsShield" style="display: none;"></i>
            <small class="help-block" data-bv-validator="notEmpty" data-bv-for="website" data-bv-result="NOT_VALIDATED" style="display: none;">The website address is required and can't be empty</small><small class="help-block" data-bv-validator="uri" data-bv-for="website" data-bv-result="NOT_VALIDATED" style="display: none;">The input is not a valid URL</small></div>
        </div>
        <label class="col-lg-3 control-label"></label>
        <div class="col-lg-7">
        <a href="#/teams" class="btn-link">Add/Remove players</a>
        </div>

      </fieldset>
      <!--===================================================-->

    </div>
    <div class="panel-footer">
      <div class="row">
        <div class="col-sm-7 col-sm-offset-3">
          <button class="btn btn-primary btn-labeled fa fa-send fa-lg" type="submit">Save</button>
        </div>
      </div>
    </div>
  </form>
</div>
