<div class="panel">
  <div class="panel-heading">
    <h3 class="panel-title">Team</h3>
  </div>
  <div class="panel-body">

    <div class="bootstrap-table">
      <div class="fixed-table-toolbar">
        <div class="bars pull-left">
          <button class="btn btn-danger btn-labeled fa fa-times" disabled="">Delete</button>
        </div>
      </div>
      <div class="fixed-table-container" style="padding-bottom: 0px;">
        <div class="fixed-table-body">
          <div class="fixed-table-loading" style="top: 37px; display: none;">Loading, please wait…</div>
          <table class="demo-add-niftycheck table table-hover" data-toggle="table"
                 data-url="data/bs-table.json" data-toolbar="#demo-delete-row"
                 data-search="true" data-show-refresh="true" data-show-toggle="true"
                 data-show-columns="true" data-sort-name="id" data-page-list="[5, 10, 20]"
                       data-page-size="5" data-pagination="true" data-show-pagination-switch="true">
            <thead style="display: table-header-group;">
            <tr>
              <th class="bs-checkbox " style="width: 36px; ">
                <div class="th-inner ">
                  <label class="form-checkbox form-icon">
                    <input name="btSelectAll" type="checkbox">
                  </label>
                </div>
                <div class="fht-cell">

                </div>
              </th>
              <th style="">
                <div class="th-inner sortable">
                  Position
                  <span class="order dropup">
                    <span class="caret" style="margin: 10px 5px;">

                          </span>
                            </span>
                </div>
                <div class="fht-cell">

                </div>
              </th>
              <th style="">
                <div class="th-inner sortable">
                  Name
                </div>
                <div class="fht-cell">

                </div>
              </th>
              <th style="">
                <div class="th-inner sortable">
                  Team
                </div>
                <div class="fht-cell">

                </div>
              </th>
            </tr>
            </thead>
            <tbody>
            <tr data-index="0">
              <td class="bs-checkbox">
                <label class="form-checkbox form-icon">
                  <input data-index="0" name="btSelectItem" type="checkbox">
                </label>
              </td>
              <td style="">
                <a href="#" class="btn-link">Foward</a>
              </td>
              <td style="">Carlos Tevez</td>
              <td style="">
                <span class="text-muted">Boca Jrs.</span>
              </td>
            </tr>
            <tr data-index="1">
              <td class="bs-checkbox">
                <label class="form-checkbox form-icon">
                  <input data-index="0" name="btSelectItem" type="checkbox">
                </label>
              </td>
              <td style="">
                <a href="#" class="btn-link">Foward</a>
              </td>
              <td style="">Javier Saviola</td>
              <td style="">
                <span class="text-muted">River Plate</span>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="clearfix">

    </div>
  </div>
</div>
