<div class="panel">
  <div class="panel-heading">
    <h3 class="panel-title">Update Round</h3>
  </div>
  <div class="panel-body">

    <div class="bootstrap-table">
      <div class="fixed-table-container" style="padding-bottom: 0px;">
        <div class="fixed-table-body">
          <div class="fixed-table-loading" style="top: 37px; display: none;">Loading, please wait…</div>
          <table class="demo-add-niftycheck table table-hover" data-toggle="table"
                 data-url="data/bs-table.json" data-toolbar="#demo-delete-row"
                 data-search="true" data-show-refresh="true" data-show-toggle="true"
                 data-show-columns="true" data-sort-name="id" data-page-list="[5, 10, 20]"
                 data-page-size="5" data-pagination="true" data-show-pagination-switch="true">
            <thead style="display: table-header-group;">
            <th style="">
              <div class="th-inner sortable">
                Round
              </div>
              <div class="fht-cell"></div>
            </th>
            <th style="">
              <div class="th-inner sortable">
                Options
              </div>
            </th>
            </tr>
            </thead>
            <tbody>
            <tr data-index="0">
              <td style="">
                1
              <td style="">
                <a href="#/1/updateRoundManually" class="btn-link">Update Manually</a>
                <a href="#/1/updateRoundFromCSV" class="btn-link">Update from CSV</a>
              </td>
            </tr>
            <tr data-index="1">
              <td style="">
                2
              <td style="">
                <a href="#/2/updateRoundManually" class="btn-link">Update Manually</a>
                <a href="#/2/updateRoundFromCSV" class="btn-link">Update from CSV</a>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="clearfix">

    </div>
  </div>
</div>

