<div class="panel" ng-init="getPlayers()">
  <div class="panel-heading">
    <h3 class="panel-title">{{ 'PLAYERS' | translate }}</h3>
  </div>
  <div class="panel-body">

    <div class="bootstrap-table">
      <div class="fixed-table-toolbar">
        <div class="bars pull-right">
          <a ng-href="#/players/new" class="btn btn-success">{{ 'NEW' | translate }}</a>
        </div>
      </div>
      <div class="fixed-table-container" style="padding-bottom: 0px;">
        <div class="fixed-table-body">
          <table class="table table-hover">
            <thead style="display: table-header-group;">
              <tr>
                <th style="">
                  <div class="th-inner sortable">
                    {{ 'POSITION' | translate }}
                  </div>
                  <div class="fht-cell">

                  </div>
                </th>
                <th style="">
                  <div class="th-inner sortable">
                    {{ 'NAME' | translate }}
                  </div>
                  <div class="fht-cell">

                  </div>
                </th>
                <th style="">
                  <div class="th-inner sortable">
                    {{ 'TEAM' | translate }}
                  </div>
                  <div class="fht-cell">

                  </div>
                </th>
                <th style="">
                  <div class="th-inner sortable">
                    {{ 'ACTIONS' | translate }}
                  </div>
                  <div class="fht-cell">

                  </div>
                </th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="player in filteredPlayers | orderBy : 'position' ">
                <td>{{player.position | translate}}</td>
                <td>{{player.name}}</td>
                <td>{{player.team}}</td>
                <td>
                  <a class="btn btn-primary" ng-href="#/players/{{player.id}}/edit">{{ 'EDIT' | translate }}</a>
                  <button class="btn btn-danger" ng-click="delete(player.id)">{{ 'DELETE' | translate }}</button>
                </td>
              </tr>
              <nav>
                <ul class="pagination" ng-show="pages">
                  <li>
                    <a href="" ng-click="goToPreviousPage()">
                      <span>&laquo;</span>
                    </a>
                  </li>
                  <li ng-repeat="page in pages" ng-class="{ 'active' : currentPage == page }">
                    <a href="" ng-click="goToPage(page)">{{page}}</a>
                  </li>
                  <li>
                    <a href="" ng-click="goToNextPage()">
                      <span>&raquo;</span>
                    </a>
                  </li>
                </ul>
              </nav>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="clearfix">

    </div>
  </div>
</div>

