<div class="panel">
  <form name="newPlayer" novalidate>
    <div class="panel-body">
      <hr>
        <h4 class="mar-btm text-thin">Create Player</h4>
      <hr>
      <div class="form-group">
        <label for="playerName">Name</label>
        <input type="text" id="playerName" name="playerName" ng-model="player.name">
      </div>
      <div class="form-group">
        <label for="team">Team</label>
        <input type="text" id="team" name="team" ng-model="player.team">
      </div>
      <div class="checkbox">
        <label for="position">Position</label>
        <select name="position" id="position" ng-model="player.position">
          <option ng-repeat="position in positions">{{position}}</option>
        </select>
      </div>
    </div>
    <div class="panel-footer">
      <div class="row">
        <div class="col-sm-7 col-sm-offset-3">
          <button class="btn btn-primary" type="button" ng-click="createPlayer()">Save</button>
        </div>
      </div>
    </div>
  </form>
</div>

