<div class="panel">
  <form name="teamForm" novalidate>
    <div class="panel-body">
      <hr>
      <h4 class="mar-btm text-thin">Create Team</h4>
      <hr>
      <div class="form-group">
        <label for="name">Name</label>
        <input type="text" id="name" name="name" ng-model="team.name">
      </div>
      <div class="form-group">
        <label for="logo">Logo</label>
        <input type="text" id="logo" name="logo" ng-model="team.logo">
      </div>
    </div>
    <div class="panel-footer">
      <div class="row">
        <div class="col-sm-7 col-sm-offset-3">
          <button class="btn btn-primary" type="button" ng-click="createTeam()">Create</button>
        </div>
      </div>
    </div>
  </form>
</div>

